
.navbar {
 position: fixed;
 top: 20px;
 left: 50%;
 transform: translateX(-50%);
 width: 90%;
 height: 70px;
 padding: 0 30px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 border-radius: 20px;
 background: rgba(15, 23, 42, 0.55);
 backdrop-filter: blur(20px);
 border: 1px solid rgba(255,255,255,.08);
 z-index: 1000;
}
.logo{
   display:flex;
   align-items:center;
   gap:15px;
}
.logo-circle{
   width:45px;
   height:45px;
   border-radius:50%;
   background:linear-gradient(135deg,#4f7cff,#8b5cf6);
   display:flex;
   justify-content:center;
   align-items:center;
   color:white;
   font-weight:700;
}
.logo-text h3{
   margin:0;
   color:white;
   font-size:18px;
}
.logo-text span{
   color:#94a3b8;
   font-size:12px;
}
.menu{
   list-style:none;
   display:flex;
   gap:35px;
}
.menu a{
   color:white;
   text-decoration:none;
   transition:.3s;
}
.menu a:hover{
   color:#4f7cff;
}
.resume-btn{
   padding:12px 22px;
   border:none;
   border-radius:12px;
   cursor:pointer;
   color:white;
   font-weight:600;
   background:linear-gradient(135deg,#4f7cff,#8b5cf6);
   transition:.3s;
}
.resume-btn:hover{
   transform:translateY(-2px);
   box-shadow:0 10px 30px rgba(79,124,255,.35);
}